
<div class="card flex justify-content-center">
  <p-sidebar [visible]="true" position="left" [baseZIndex]="false" styleClass="fixed-sidebar" [showCloseIcon]="false">
    <!-- <h3>Charts</h3> -->
    <div >
      <h1>{{ selectedChartType }} Chart</h1>

      <!-- Draggable Chart -->
      <div
        draggable="true"
        (dragstart)="onDragStart($event)"
      >
        <app-chart
          [chartType]="selectedChartType"
          [chartData]="chartData"
          [chartOptions]="chartOptions"
        ></app-chart>
      </div>
    </div>

    <div class="overflow-y-auto">
      <ul class="list-none p-3 m-0">
        <li>
          <div
            pRipple
            pStyleClass="@next"
            enterClass="hidden"
            enterActiveClass="slidedown"
            leaveToClass="hidden"
            leaveActiveClass="slideup"
            class="p-3 flex align-items-center justify-content-between text-600 cursor-pointer p-ripple"
          >
            <!-- <span class="font-medium">Charts</span>
            <i class="pi pi-chevron-down"></i> -->
          </div>
          <ul>
            <li><i class="pi pi-chart-bar" style="padding-right: 20px"></i><button (click)="changeChartType('bar')" class="buttons">Bar Chart</button></li>
            <li><i class="pi pi-chart-line" style="padding-right: 20px"></i><button (click)="changeChartType('line')" class="buttons">Line Chart</button></li>
            <li><i class="pi pi-chart-pie" style="padding-right: 20px"></i><button (click)="changeChartType('pie')" class="buttons">Pie Chart</button></li>
          </ul>
        </li>
      </ul>
    </div>
  </p-sidebar>

</div>

