html, body {
  height: 100%; 
  margin: 0;    
  padding: 0;  
}

.fixed-sidebar {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px; 
    border-right: 1px solid #ddd; 
  }
 ::ng-deep .p-component-overlay {
    position: static !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

  .p-sidebar {
    width: 250px; 
  }
  /* ::ng-deep .link-style{
    text-decoration: none;
    color: black;
    font-size: 17px;
    list-style-type: none;
}
.link-style:hover {
    color: #0056b3;         
    background-color: #f1f1f1; 
  } */
ul{
    list-style-type: none;
}
 
.buttons{
    border: none;
    background: none;
    padding: 13px;
    font-size: 15px;
  }
  .buttons:hover{
    color: #0056b3;         
    background-color: #f1f1f1; 

  }
 
  .drop-target {
    position: relative; 
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .chart-container {
    position: absolute; 
    cursor: move; 
    transition: top 0.2s, left 0.2s; 
    height: 400px;  
    width: 100%;   
    overflow: auto;  
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .chart-wrapper {
    position: absolute;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background: white;
    cursor: move;
    user-select: none;
    transition: top 0.2s,left 0.2s, box-shadow 0.2s;
  
    &:hover {
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }
  }
  .chart-handle {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 5px;
    cursor: move;
    color: #666;
    font-size: 20px;
    z-index: 10;
  }
  